<div id="sidebar-wrapper">
    <ul class="sidebar">
        <li class="sidebar-main">
            <a ng-click="toggleSidebar()">
                H & D
                <span class="menu-icon glyphicon glyphicon-transfer"></span>
            </a>
        </li>
        <li class="sidebar-title"><span>DANH MỤC</span></li>
        <!--<li class="sidebar-list">
            <a href="#/index">Dashboard <span class="menu-icon fa fa-tachometer"></span></a>
        </li>-->
        <li class="sidebar-list">
            <a href="#/products">Sản phẩm <span class="menu-icon fa fa-table"></span></a>
        </li>
        <li class="sidebar-list">
            <a href="#/categories">Loại sản phẩm <span class="menu-icon fa fa-table"></span></a>
        </li>
        <li class="sidebar-list">
            <a href="#/suppliers">Nhà sản xuất <span class="menu-icon fa fa-university"></span></a>
        </li>
        <li class="sidebar-list">
            <a href="#/orders">Đơn hàng <span class="menu-icon fa fa-cart-arrow-down"></span></a>
        </li>
        <li class="sidebar-list">
            <a href="#/feedbacks">Phản hồi <span class="menu-icon fa fa-users"></span></a>
        </li>
    </ul>
</div>