<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Xóa nhân viên</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="row">
        <!--Chọn khách hàng-->
        <div class="col-md-3 col-md-offset-1">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                    {{selectedItem}}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li ng-repeat="a in ctms">
                        <a ng-click="dropboxitemselected(a)">{{a.LastName}} {{a.FirstName}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <!--Thông tin khách hàng-->
        <div class="col-md-7">
            <form ng-enter="DeleteCus()" ng-show="isDeleteItemVisible">
                <div class="form-group">
                    <label>Tên</label>
                    <input type="text" ng-disabled="true" ng-model="FirstName" id="FirstName" class="form-control input-lg" placeholder="Tên" />
                </div>
                <div class="form-group">
                    <label>Họ</label>
                    <input type="text" ng-disabled="true" ng-model="LastName" id="LastName" class="form-control input-lg" placeholder="Họ" />
                </div>
                <div class="form-group">
                    <label>Ngày sinh</label>
                    <input type="text" ng-disabled="true" ng-model="BirthDate | date: 'dd/MM/yyyy'" id="BirthDate" class="form-control input-lg" placeholder="Ngày sinh" />
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" ng-disabled="true" ng-model="Username" id="Username" class="form-control input-lg" placeholder="Email" />
                </div>
                <div class="form-group">
                    <label>Địa chỉ</label>
                    <input type="text" ng-disabled="true" ng-model="Address" id="Address" class="form-control input-lg" placeholder="Email" />
                </div>
                <!--Hàm xóa khách hàng-->
                <button ng-click="DeleteCus()" class="btn btn-danger form-control input-lg">Xóa</button>
            </form>
        </div>
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="cancel()">Xong</button>
</div>

