<div id="content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Khách hàng đến cửa hàng trực tiếp mua hàng hoặc mua hàng qua chuyển khoản</h2>
                <h3>*** Chỉ áp dụng nhận thanh toán chuyển khoản đơn hàng trên 150.000 VNĐ</h3>
                <h4>+ Ngân hàng Đông Á</h4>
                <p>Số tài khoản: 0106234505</p>
                <p>Chủ tài khoản: Nguyễn Mai Hiếu</p>
                <br />
                <h4>+ Ngân hàng Techcombank</h4>
                <p>Số tài khoản: 10620871656017</p>
                <p>Chủ tài khoản: Phan Nguyễn Hồng Đức</p>
            </div>
        </div>

    </div>
    <!-- /.container -->
</div>