<div class="container">
    <div class="col-md-3 col-sm-6">
        <h4>Về chúng tôi</h4>

        <p>Shop chúng tôi chuyên cung cấp những linh kiện chính hãng dành cho laptop và điện thoại.</p>

        <hr>

    </div>
    <!-- /.col-md-3 -->

    <div class="col-md-3 col-sm-6">

        <h4>Facebook</h4>

        <div class="blog-entries">
            <div class="item same-height-row clearfix">
                <div class="image same-height-always">
                    <a href="#">
                        <img class="img-responsive" src="img/detailsquare.jpg" alt="">
                    </a>
                </div>
                <div class="name same-height-always">
                    <h5><a href="#">MHN</a></h5>
                </div>
            </div>

            <div class="item same-height-row clearfix">
                <div class="image same-height-always">
                    <a href="#">
                        <img class="img-responsive" src="img/detailsquare.jpg" alt="">
                    </a>
                </div>
                <div class="name same-height-always">
                    <h5><a href="#">PNHD</a></h5>
                </div>
            </div>

        </div>

        <hr class="hidden-md hidden-lg">

    </div>
    <!-- /.col-md-3 -->

    <div class="col-md-3 col-sm-6">

        <h4>Liên hệ</h4>

        <p>
            <strong>667 Bùi Đình Túy</strong>
            <br>Phường 12
            <br>Quận Bình Thạnh
            <br>Hồ Chí Minh
            <br>
            <strong>H & D Shop</strong>
        </p>

        <a href="#/contact" class="btn btn-small btn-template-main">Đến trang liên hệ</a>

        <hr class="hidden-md hidden-lg hidden-sm">

    </div>
    <!-- /.col-md-3 -->



    <div class="col-md-3 col-sm-6">

        <h4>Bạn có nguồn cung, liên hệ chúng tôi</h4>

        <form>
            <div class="input-group">

                <input type="text" class="form-control">

                <span class="input-group-btn">

                    <button class="btn btn-default" type="button"><i class="fa fa-send"></i></button>

                </span>

            </div>
            <!-- /input-group -->
        </form>

        <hr class="hidden-md hidden-lg hidden-sm">

    </div>
    <!-- /.col-md-3 -->
</div>
<!-- /.container -->