<div id="content">
    <div class="container">

        <div class="row">

            <div class="col-md-9 clearfix" id="checkout">

                <div class="box">
                    <ul class="nav nav-pills nav-justified">
                        <li ui-sref-active="active" class="disabled">
                            <a ui-sref="checkout.address"><i class="fa fa-map-marker"></i><br>Address</a>
                        </li>
                        <li ui-sref-active="active" class="disabled">
                            <a ui-sref="checkout.payment"><i class="fa fa-money"></i><br>Payment Method</a>
                        </li>
                        <li ui-sref-active="active" class="disabled">
                            <a ui-sref="checkout.review"><i class="fa fa-eye"></i><br>Order Review</a>
                        </li>
                    </ul>

                        <ui-view></ui-view>

                </div>
                <!-- /.box -->


            </div>
            <!-- /.col-md-9 -->

            <div class="col-md-3">

                <div class="box" id="order-summary">
                    <div class="box-header">
                        <h3>Order summary</h3>
                    </div>
                    <p class="text-muted">Shipping and additional costs are calculated based on the values you have entered.</p>

                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>Order subtotal</td>
                                    <th>{{total | currency: 'VNĐ ' : 0}}</th>
                                </tr>
                                <tr>
                                    <td>Shipping and handling</td>
                                    <th>{{10000 | currency: 'VNĐ ' : 0}}</th>
                                </tr>
                                <tr>
                                    <td>Tax</td>
                                    <th>$0.00</th>
                                </tr>
                                <tr class="total">
                                    <td>Total</td>
                                    <th>{{(total | num) + (10000 | num) | currency: 'VNĐ ' : 0}}</th>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>

            </div>
            <!-- /.col-md-3 -->

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
</div>



